.day {
  width: 90px;
  padding: 8px;
  border-radius: 12px;
  font-size: 12px;
  color: black;
}

.date {
  font-weight: bold;
  margin-bottom: 4px;
}

.proba {
  font-size: 11px;
  text-align: left;
}

.bleu { background: #1e90ff; }
.blanc { background: #f2f2f2; }
.rouge { background: #e74c3c; }
