body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

#tempo {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.day {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  line-height: 60px;
  font-weight: bold;
  color: black;
}

.bleu { background: #1e90ff; }
.blanc { background: #f2f2f2; }
.rouge { background: #e74c3c; }
